:root {
  --primary-color: #616163;
  --secondary-color: #D3D0CB;
  --background-color: #20063B;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--primary-color);
}

nav a {
  color: var(--text-color);
  text-decoration: none;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}

.navbar {
  background-color: var(--primary-color);
  padding: 10px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar-nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2em;
}

.navbar-nav a:hover {
  color: var(--secondary-color);
  font-size: 1.5em;
}